/* 
    Document   : form
    Created on : Jul 23, 2013, 5:05:40 AM
    Author     : breezy
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


/*fieldset div {
    margin: 0 0 10px;
}
fieldset div.controls {
    margin: 25px 0 0;
    padding: 0;
}*/

/*fieldset abbr {
    color: #7b0101;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding: 0 1px;
    vertical-align: middle;
}
fieldset label abbr {
    display: block;
    font-size: 23px;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 60px;
    width: 16px;
}*/



div .log-in {
    /*background: #eaeaea;*/
    margin: 0;
    line-height: 1;
    padding: 10px 12px;
    /*position: absolute;*/
    right: 20px;
    top: 30px;
}
div .log-in a {
    font-weight: bold;
}

.introduction {
    font-size: 1.5em;
    line-height: 1.6;
    margin: 0 0 2em;
}
p.note {
    font-size: 1.25em;
    /*margin: -1.7em 0 1.25em;*/
}



h1 {
    border-bottom: 1px solid #6E6E6E;
    background: url(images/bg-ccc.gif) 0 100% repeat-x;
    color: #666666;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 0.7em;
    padding: 0 0 28px;
}

input,
textarea,
select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



fieldset {
    border: none;
    position: relative;
    /*padding: 70px 0 0;*/
}
fieldset legend span {
    border-bottom: 1px solid #fff;
    display: block;
    font-size: 2.25em;
    line-height: 1.1;
    margin: 20px 0;
    padding-bottom: 20px;
    position: absolute;
    width: 560px;
}

fieldset div {
    margin: 0 0 10px 210px;
}
fieldset div label {
    line-height: 1.1;
    margin: 5px 20px 0 -210px;
    /*width: 140px;*/
    width: 200px;
    float: left;
}
fieldset div input,
fieldset div textarea,
fieldset div select {
    color: #333;
    /*display: block;*/
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    margin: 0;

    border-width: 1px;
    border-style: solid;
    border-color: #636d77 #a3b4c4 #c7d2de;

}

fieldset div input:focus,
fieldset div textarea:focus,
fieldset div select:focus {
    border-color: black;
}

fieldset div select {
    padding: 0 0 0 3px;
    width: 291px;
}



input,
textarea {
    border: 1px solid #666666;
    padding: 5px;
    width: 300px;
}
textarea {
    height: 66px;
}

ul li input {
    border: none;
}

input,
textarea {

    /*background: url(css/images/bg-input-gradient.png) repeat-x 0 0;*/
    background: #ebebeb repeat-x 0 0;
    padding: 5px 5px 5px 30px;
}

input#name,
input#email,
input#password,
input#current_password,
input#username,
input#password_confirmation,
textarea#comment {
    /*    background: url(../images/bg_comment_input.png) no-repeat 3px 0;*/
    padding: 5px 5px 5px 30px;
}
.default_select_style{
    padding: 5px 5px 5px 30px;
    width: 337px;
}

input#email {
    /*background-position: 3px -30px;*/
    background: url(../images/bg_email_input.png) no-repeat 3px 0;
}
textarea#comment {
    /*background-position: 3px -60px;*/
    background: url(../images/bg_comment_input.png) no-repeat 3px 0;
}

input#name{
    /*background-position: 3px -60px;*/
    background: url(../images/bg_login_input.png) no-repeat 3px 0;
}

input#username{
    /*background-position: 3px -60px;*/
    background: url(../images/bg_login_input.png) no-repeat 3px 0;
}

input:focus,
textarea:focus {
    border: 1px solid #26808c;
}
input#name:focus {
    background-position: 3px -500px;
}
input#email:focus {
    background-position: 3px -530px;
}
textarea#comment:focus {
    background-position: 3px -560px;
}


input#submit {
    /*    border: none;*/
    /*    width: widthpx;
        height: heightpx;*/
    /*background: url(images/mybutton.png) no-repeat 0 0;*/
    /*    margin: 0;
        overflow: hidden;*/
    /*padding: widthpx 0 0 heightpx;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    background-color: #2daebf;
}



/***Birth Date Fieldset****/

fieldset fieldset.group {
    color: #666;
    margin: 0 0 10px 210px;
    /*padding: 0;*/
    padding: 0px 5px 5px 5px;
}
fieldset fieldset.group legend span {
    background: none;
    border: none;
    display: block;
    font-size: 1.16em;
    font-weight: bold;
    line-height: 1.1;
    margin: 9px 20px 0 -155px;
    padding: 0;
    position: absolute;
    left: 0;
    width: 140px;
}

fieldset fieldset.group div {
    background: none;
    float: left;
    margin: 0 0 0 5px;
    padding-left: 0;
}
fieldset#section-dob div label {
    position: absolute;
    top: -999em;
}
fieldset#section-dob div select {
    width: 85px;
}
fieldset#section-dob div select#dob_month {
    width: 108px;
}
fieldset#section-dob em.note {
    clear: left;
    display: block;
    font-size: 0.7em;
    font-style: italic;
    margin: 0 0 0.5em 5px;
}

fieldset div ul {
    margin: 5px 0 0 0;
}
fieldset div ul li {
    margin: 0 0 5px;
    padding: 0;
}
fieldset div ul li label {
    display: inline;
    float: none;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
fieldset div ul li input {
    background: none;
    border: none;
    display: inline;
    margin: 0 5px 0 0;
    padding: 0;
    width: auto;
}
